{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
{% load placeholders %}
    <main>

        <section id="register-page">


            <article class="register-page-container">
                <form action="{% url 'sign up' %}" method="post" class="register-page-form">
                    <h2 style="font-family: 'Poppins', sans-serif">Register</h2>
                    <p style="font-family: 'Poppins', sans-serif">Join us and add recipes.</p>
                    <label for="email">Email:</label>
                    {{ form.email|placeholder:'email ' }}
                    {{ form.email.errors }}
                    <label for="password">Password:</label>
                    {{ form.password1|placeholder:'password' }}
                    {{ form.password1.errors }}
                    <label for="repeat-password">Repeat Password:</label>
                    {{ form.password2|placeholder:'repeat password' }}
                    {{ form.password2.errors }}
                    <label for="description">Enter your date of birth:</label>
                    {{ form.date_of_birth }}
                    {{ form.date_of_birth.errors  }}
                    {% csrf_token %}
                    <article class="register-page-button">
                        <button class="btn-register">Register</button>
                    </article>

                    <article class="account">
                        <p>Already have an account? <a href="{% url 'sign in' %}">Sign in</a></p>
                    </article>

                </form>

                <article class="register-page-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/register.jpg"%}" alt="image">
                </article>
            </article>

        </section>
    </main>

{% endblock %}

