{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="details-page">
            <article class="details-gage-title">
                <h1>Cocktail Detail Page</h1>
            </article>
            <article class="details-page-card">

                <!-- Do not forget to change the path to the image -->
                <article class="details-page-card-image">
                    <img
                            class="img-circle elevation-2"
                            src="{{ cocktail.cocktail_photo }}"
                            alt="User Image"/>
                </article>


                <article class="all-ads-card-buttons">

                    <h2>Cocktail name: {{ cocktail.cocktail_name }}</h2>

                    <h2>Main ingredient: {{ cocktail.main_ingredient }}</h2>
                    <h3>Other ingredients: {{ cocktail.other_ingredient }}</h3>

                    <article class="all-ads-card-buttons">
                        {% if is_owner %}
{#                            <a href="{% url 'cocktail edit' slug=cocktail.slug %}" class="btn-edit">Edit</a>#}
{#                            <a href="{% url 'cocktail delete' slug=cocktail.slug %}" class="btn-delete">Delete</a>#}
                            <a href="{% url 'cocktail edit' slug=cocktail.slug %}" class="btn-register">Edit</a>
                            <a href="{% url 'cocktail delete' slug=cocktail.slug %}" class="btn-register">Delete</a>
                        {% endif %}
                        <!--logged in user who did not apply for current ad-->
                        <!--<a href="#" class="btn-apply">Apply now!</a>
                        <p class="applied-people">Hurry up, 1 people have already applied.</p>-->

                        <!--logged in user who has already applied for current ad-->
                        <!--<p class="already-applied">You have already applied!</p>-->
                    </article>
                    <article>
                        <div class="bottom">
                            <div class="actionBtns">
                                <div class="left">
                            <span class="heart">
									<a href="{% url 'like cocktail' cocktail_id=cocktail.pk %}">
                                        {% if user_liked_cocktail %}
                                            <svg style="color: red"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 width="24"
                                                 height="24"
                                                 fill="currentColor"
                                                 class="bi bi-heart-fill"
                                                 viewBox="0 0 16 16">
                                            <!-- Coordinate path -->
                                            <path fill-rule="evenodd"
                                                  d="M8 1.314C12.438-3.248 23.534 4.735
                                                  8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                                  fill="red">
                                            </path>
                                        </svg>

                                        {% else %}
                                            <svg aria-label="Like"
                                                 color="#262626"
                                                 fill="#262626"
                                                 height="24"
                                                 role="img"
                                                 viewBox="0 0 48 48"
                                                 width="24">
                                        <!-- Coordinate path -->
                                        <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4
                                                    11.5 0 6.8-5.9 11-11.5 16S25 41.3 24
                                                    41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3
                                                    11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3
                                                    1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9
                                                    1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9
                                                    1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1
                                                    0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3
                                                    1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3
                                                    1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2
                                                    7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6
                                                    48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                        </path>
                                        </svg>
                                        {% endif %}
								    </a>
                            </span>

                                </div>
                            </div>
                            <p class="likes">{{ cocktail_likes_count }}</p>
                    </article>


                    <article>
                        {% if comments %}
                            <h5 class="postTime">Comments for cocktail {{ cocktail.cocktail_name }}</h5>
                        {% else %}
                            <h5 class="postTime">Be the first who add comments for {{ cocktail.cocktail_name }}</h5>
                        {% endif %}
                        <br><br/>
                        {% for comment in comments %}
                            <li>{{ comment.user }}: {{ comment.text }}</li>
                        {% endfor %}
                        <form method="post" action="{% url 'comment cocktail' cocktail_id=cocktail.pk %}">
                            {{ form }}
                            {% csrf_token %}
                            <!-- Post Comments Button -->
                            <button type="submit">Comment</button>
                        </form>
                    </article>

                    {#                    <form method="post" action="{% url 'cocktail details' slug=cocktail.slug %}" class="register-page-form">#}
                    {#                        <div class="form-floating">#}
                    {#                            {{ formcomment }}#}
                    {#                            {% csrf_token %}#}
                    {#                        <textarea class="form-control" placeholder="Leave a comment here"#}
                    {#                                  id="floatingTextarea"></textarea>#}
                    {#                            <label for="floatingTextarea"></label>#}
                    {#                            <button type="submit">Leave comment</button>#}
                    {#                        </div>#}
                    {#                        <form>#}


                </article>

            </article>
        </section>

    </main>

{% endblock %}