{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="register-page">


            <article class="register-page-container">
                <form action="{% url 'cocktail edit' slug=cocktail.slug %}" method="post" class="register-page-form" enctype="multipart/form-data">
                    <h2 style="font-family: 'Poppins', sans-serif">Cocktail</h2>
                    <p style="font-family: 'Poppins', sans-serif">Edit your cocktail</p>

                    <label for="cocktail_name">Cocktail name:</label>
                    {{ form.cocktail_name }}
                    {{ form.cocktail_name.errors }}
                    {% if request.user.age >= 21 %}
                        <label for="main_ingredient">Main ingredient:</label>
                        {{ form.main_ingredient }}
                        {{ form.main_ingredient.errors }}
                        <label for="main_ingredient">Ingredients:</label>
                        {{ form.other_ingredient }}
                        {{ form.other_ingredient.errors }}
                    {% else %}
                        <label for="main_ingredient">Ingredients:</label>
                        {{ form.other_ingredient }}
                        {{ form.other_ingredient.errors }}
                    {% endif %}
                    <label for="main_ingredient">Cocktail photo:</label>
                    {{ form.cocktail_photo }}
                    {{ form.cocktail_photo.errors }}
                    {% csrf_token %}

                    <article class="register-page-button">
                        <button class="btn-register">Edit cocktail</button>
                    </article>


                </form>

                <article class="register-page-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/cocktail.gif" %}" alt="image">
                </article>
            </article>

        </section>
    </main>

{% endblock %}




{% load placeholders %}
