{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="register-page">


            <article class="register-page-container">
                <form action="{% url 'cocktail create' %}" method="post" class="register-page-form">
                    <h2>Cocktail</h2>
                    <p>Create your cocktail</p>


                    {% csrf_token %}
                    <label for="cocktail_name">Cocktail name:</label>
                    {{ form.cocktail_name }}
                    {{ form.cocktail_name.errors }}
                    {% if request.user.age >= 21 %}
                        <label for="main_ingredient">Main ingredient:</label>
                        {{ form.main_ingredient }}
                        {{ form.main_ingredient.errors }}
                        <label for="main_ingredient">Other ingredients:</label>
                        {{ form.other_ingredient }}
                        {{ form.other_ingredient.errors }}

                    {% else %}
                        <label for="main_ingredient">Ingredients:</label>
                        {{ form.other_ingredient }}
                        {{ form.other_ingredient.errors }}
                    {% endif %}
                    <label for="main_ingredient">Cocktail photo:</label>
                    {{ form.cocktail_photo }}
                    {{ form.cocktail_photo.errors }}
bogo
                    <article class="register-page-button">
                        <button class="btn-register">Create cocktail</button>
                    </article>


                </form>

                <article class="register-page-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/cocktail.gif" %}" alt="image">
                </article>
            </article>

        </section>
    </main>

{% endblock %}




{% load placeholders %}
<div class="login-register-box">
    <h1>Watch this</h1>
    <form method="post" action="{% url 'sign up' %}">
        Email:{{ form.email|placeholder:'Email' }}
        Password:{{ form.password1|placeholder:'Password' }}
        Repeate password:{{ form.password2|placeholder:'Repeate password' }}
        Birth Date:{{ form.date_of_birth }}
        <button type="submit">Register</button>
        {% csrf_token %}
    </form>
</div>
<div class="second-option">
    <p>Have an account? <a href="{% url 'sign in' %}">Log in</a></p>
</div>

