{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <form class="search" action="{% url 'cocktails search' %}" method="GET">

                {% csrf_token %}
                <input type="search" name="pattern" placeholder="Search cocktails">

            <button type="submit" class="btn-search">
                <!-- Do not forget to change the path to the image -->
                <img src="{% static "img/search-icon.png" %}" alt="search-icon">
                Search
            </button>
        </form>

        <section id="search-page">

            <h2>Search result:</h2>
            <!--If there are a search matches, show each ad-->
            {% for cocktail in cocktails %}

            <!--If there are a search matches, show each ad-->
            <article class="search-page-result">
                <p class="search-page-result-headline"> Cocktail name: {{ cocktail.cocktail_name }}</p>
                <article class="details-page-card-buttons">
                    <a href="{% url 'cocktail details' slug=cocktail.slug %}" class="btn-edit">Details</a>
                </article>
            </article>
        {% endfor %}
            <!--If not show:-->
            <!--<article class="search-page-no-result">
                <p class="search-page-no-result-message">No match found.</p>
            </article>-->

        </section>

    </main>

{% endblock %}






