{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="edit-page">

            <article class="edit-page-container">
                <form action="{% url 'user edit' pk=user.pk %}" method="post" class="edit-page-form" enctype="multipart/form-data">

                    <h2 style="font-family: 'Poppins', sans-serif">Edit your profile</h2>
                    <p class="error"> {{ field.errors }} </p>
                    <label for="first_name">First name:</label>
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                    <label for="password">Last name:</label>
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                    <label for="repeat-password">Gender:</label>
                    <br>{{ form.gender }}

                    <br><label for="description">Profile image:</label>
                    {{ form.profile_image }}
                    {{ form.profile_image.errors }}
                    {% csrf_token %}

                    <article class="edit-page-button">
                        <button class="btn-edit-ads">Edit</button>
                    </article>
                </form>

                <article class="edit-page-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/register.jpg" %}" alt="image">
                </article>
            </article>

        </section>
    </main>
{% endblock %}

