{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="edit-page">

            <article class="edit-page-container">
                <form action="{% url 'user edit' pk=user.pk %}" method="post" class="edit-page-form">

                    <h2>Edit your profile</h2>
                    <p class="error"> {{ field.errors }} </p>
                    <label for="first_name">First name:</label>
                    {{ form.first_name }}

                    <label for="password">Last name:</label>
                    {{ form.last_name }}

                    <label for="repeat-password">Gender:</label>
                    <br>{{ form.gender }}

                    <br><label for="description">Profile image:</label>
                    {{ form.profile_image }}
                    {% csrf_token %}

                    <article class="edit-page-button">
                        <button class="btn-edit-ads">Edit</button>
                    </article>
                </form>

                <article class="edit-page-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/job.png" %}" alt="image">
                </article>
            </article>

        </section>
    </main>
{% endblock %}

{#<h1>Profile delete</h1>#}
{#<form method="post" action="{% url 'user delete' pk=user.pk %}">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{##}
{#    <button>Yes</button>#}
{#    </button><a class="edit-btn" href="{% url 'profile details' pk=user.pk %}">Go Back</a></button>#}
{#</form>#}








{##}
{#{% load placeholders %}#}
{#<h1>Profile edit</h1>#}
{#<form method="post" action="{% url 'profile edit' pk=user.pk %}">#}
{#    {% csrf_token %}#}
{#    Username:{{ form.username|placeholder:'Username' }}#}
{#    Email:{{ form.email|placeholder:'Email' }}#}
{#    <button>Edit</button>#}
{#</form>#}