{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="details-page">
            <article class="details-gage-title">
                <h1>Details Page</h1>
            </article>
            <article class="details-page-card">
                {% if not profile.profile_image %}
                    <article class="details-page-card-image">
                        <!-- Do not forget to change the path to the image -->
                        <img src="{% static "img/no-profile-image.png" %}" alt="details-image">
                    </article>
                {% else %}

                    <!-- Do not forget to change the path to the image -->
                    <article class="details-page-card-image">
                        <img
                                class="img-circle elevation-2"
                                src="{{ profile.profile_image.url }}"
                                alt="User Image"/>
                    </article>



                {% endif %}

                <article class="details-page-card-content">
                    <p>Email: {{ profile.email }}</p>

                    {% if profile.first_name or profile.last_name %}
                        <h2>Name: {{ profile.first_name }} {{ profile.last_name }}</h2>
                    {% endif %}
                    <h2>Age: {{ profile.age }}</h2>
                    {% if total_likes_count >= 5 %}
                        <h3>You have 5 likes and you can apply for moderator!</h3>
                    {% else %}
                        <h3>Your recipes and cocktails likes: {{ total_likes_count }}</h3>
                    {% endif %}


                    <article class="all-ads-card-buttons">
                        {% if is_owner %}
                            <a href="{% url 'user edit' pk=user.pk %}" class="btn-register">Edit</a>
                            <a href="{% url 'user delete' pk=user.pk %}" class="btn-register">Delete</a>
                            {#                            <a href="{% url 'user edit' pk=user.pk %}" class="btn-edit">Edit</a>#}
                            {#                            <a href="{% url 'user delete' pk=user.pk %}" class="btn-delete">Delete</a>#}
                        {% endif %}
                        <!--logged in user who did not apply for current ad-->
                        <!--<a href="#" class="btn-apply">Apply now!</a>
                        <p class="applied-people">Hurry up, 1 people have already applied.</p>-->

                        <!--logged in user who has already applied for current ad-->
                        <!--<p class="already-applied">You have already applied!</p>-->
                    </article>
                </article>

            </article>
        </section>

        {#        TODO#}
        <section id="all-ads-page">
            <article class="all-ads-title">
                <h1>All your cocktails count: {{ cocktails_count }}</h1>
            </article>
            {% if not cocktails %}
                <!--If there are still no job ads in the database display:-->
                <article class="not-available-ads">
                    <h1>No cocktails yet!</h1>
                    <h2>Create your cocktail!</h2>

                </article>
            {% else %}

                <!--If there are job ads in the database, show each one-->
                {% for cocktail in cocktails %}
                    <article class="all-ads-card">
                        <article class="all-ads-card-image">
                            <!-- Do not forget to change the path to the image -->
                            <img src="{{ cocktail.cocktail_photo }}" alt="job-icon" width="150" height="150">
                        </article>

                        <article class="all-ads-card-content">
                            <!--You must put the headline value in <h2>-->
                            <h2>Cocktail name: {{ cocktail.cocktail_name }}</h2>
                            <h3>Cocktail main ingredient: {{ cocktail.main_ingredient }}</h3>
                            <h3>{{ cocktail.other_ingredient }}</h3>
                        </article>

                        <article class="all-ads-card-buttons">
                            <a href="{% url 'cocktail details' slug=cocktail.slug %}"
                               class="btn-details">Details</a>
                        </article>
                    </article>
                {% endfor %}
            {% endif %}
            <article class="all-ads-card">
                <article class="all-ads-card-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/cocktail-sample.png" %}" alt="job-icon" width="150" height="150">
                </article>

                <article class="all-ads-card-content">
                    <!--You must put the headline value in <h2>-->
                    <h2></h2>
                    <h3></h3>
                    <h3></h3>
                </article>

                <article class="all-ads-card-buttons">
                    <a href="{% url 'cocktail create' %}"
                       class="btn-details">Create cocktail</a>
                </article>
            </article>
        </section>

        <!--This section should only be visible to the author of the current ad-->
        <!--
        <section id="info-about-candidates">
            <h2>Candidates for this ad:</h2>
            <!\--If there are people who have applied, show each of them in the following format--\>
            <article class="info-about-candidates-card">
                <h2>Email: petar@abv.bg</h2>
                <h3>Description of the candidate's skills: Experience with HTML 5, CSS 3, Node.js</h3>
            </article>

            <article class="info-about-candidates-card">
                <h2>Email: ivan@abv.bg</h2>
                <h3>Description of the candidate's skills: Experience with Node.js</h3>
            </article>
            <!\--If not, you don't need to visualize anything further-\->
        </section>-->
        {#        TODO#}
        <section id="all-ads-page">
            <article class="all-ads-title">
                <h1>All your recipes count: {{ recipes_count }}</h1>
            </article>
            {% if not recipes %}
                <!--If there are still no job ads in the database display:-->
                <article class="not-available-ads">
                    <h1>No recipes yet!</h1>
                    <h2>Create your recipe!</h2>

                </article>
            {% else %}

                <!--If there are job ads in the database, show each one-->
                {% for recipe in recipes %}
                    <article class="all-ads-card">
                        <article class="all-ads-card-image">
                            <!-- Do not forget to change the path to the image -->
                            <img src="{{ recipe.recipe_photo }}" alt="job-icon" width="150" height="150">
                        </article>

                        <article class="all-ads-card-content">
                            <!--You must put the headline value in <h2>-->
                            <h2>Cocktail name: {{ recipe.recipe_name }}</h2>
                            <h3>Cocktail main ingredient: {{ recipe.main_ingredient }}</h3>
                            <h3>{{ recipe.other_ingredient }}</h3>
                        </article>

                        <article class="all-ads-card-buttons">
                            <a href="{% url 'recipe details' slug=recipe.slug %}"
                               class="btn-details">Details</a>
                        </article>
                    </article>
                {% endfor %}
            {% endif %}
            <article class="all-ads-card">
                <article class="all-ads-card-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/food-sample.png" %}" alt="job-icon" width="150" height="150">
                </article>

                <article class="all-ads-card-content">
                    <!--You must put the headline value in <h2>-->
                    <h2></h2>
                    <h3></h3>
                    <h3></h3>
                </article>

                <article class="all-ads-card-buttons">
                    <a href="{% url 'recipe create' %}"
                       class="btn-details">Create recipe</a>
                </article>
            </article>


        </section>
    </main>
{% endblock %}