{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="all-ads-page">
            <article class="all-ads-title">
                <h1>All recipes {{ recipes_count }}</h1>
            </article>
            {% if not recipes %}
                <!--If there are still no job ads in the database display:-->
                <article class="not-available-ads">
                    <h1>No recipes yet!</h1>
                    <h2>Be the first who will add recipe!</h2>
                </article>
            {% else %}

                <!--If there are job ads in the database, show each one-->
                {% for recipe in recipes %}
                    <article class="all-ads-card">
                        <article class="all-ads-card-image">
                            <!-- Do not forget to change the path to the image -->
                            <img src="{{ recipe.recipe_photo }}" alt="job-icon" width="150" height="150">
                        </article>

                        <article class="all-ads-card-content">
                            <!--You must put the headline value in <h2>-->
                            <h2>Recipe name: {{ recipe.recipe_name }}</h2>
                            <h3>Recipe main ingredient: {{ recipe.main_ingredient }}</h3>
                            <h3>Ingredients: {{ recipe.other_ingredient }}</h3>
                        </article>

                        <article class="all-ads-card-buttons">
                            <a href="{% url 'recipe details' slug=recipe.slug %}" class="btn-details">Details</a>
                        </article>
                    </article>
                {% endfor %}

            {% endif %}


            <article class="all-ads-card">
                <article class="all-ads-card-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/food-sample.png" %}" alt="job-icon" width="150" height="150">
                </article>

                <article class="all-ads-card-content">
                    <!--You must put the headline value in <h2>-->
                    <h2></h2>
                    <h3></h3>
                    <h3></h3>
                </article>

                <article class="all-ads-card-buttons">
                    <a href="{% url 'recipe create' %}"
                       class="btn-details">Create recipe</a>
                </article>
            </article>


            <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
        {% endif %}
  </span>
            </div>

        </section>
    </main>

{% endblock %}