{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="edit-page">

            <article class="edit-page-container">
                <form action="{% url 'recipe delete' slug=recipe.slug  %}" method="post" class="edit-page-form">

                    <h2 style="font-family: 'Poppins', sans-serif">You want to delete your recipe?</h2>
                    {{ form }}
                    {% csrf_token %}
                    <article class="delete-page-button">
                        <button class="btn-edit-ads">Delete</button>
                    </article>
                    <br><article class="delete-page-button">
                        <a href="{% url 'recipe details' slug=recipe.slug  %}" class="btn-edit-ads">Cancel</a>
                    </article>
                </form>
                <article class="edit-page-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/recipe.jpg" %}" alt="image">
                </article>
            </article>

        </section>
    </main>
{% endblock %}


