{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <main>

        <section id="register-page">


            <article class="register-page-container">
                <form action="{% url 'recipe edit' slug=recipe.slug %}" method="post" class="register-page-form">
                    <h2 style="font-family: 'Poppins', sans-serif">Recipe</h2>
                    <p style="font-family: 'Poppins', sans-serif">Edit your recipe</p>


                    <label for="recipe_name">Recipe name:</label>
                    {{ form.recipe_name }}
                    {{ form.cocktail_name.errors }}
                    <label for="main_ingredient">Main ingredient:</label>
                    {{ form.main_ingredient }}
                    {{ form.main_ingredient.errors }}
                    <br>
                    <label for="main_ingredient">Ingredients:</label>
                    {{ form.other_ingredient }}
                    {{ form.other_ingredient.errors }}
                    <label for="main_ingredient">Recipe photo:</label>
                    {{ form.recipe_photo }}
                    {{ form.recipe_photo.errors }}
                    {% csrf_token %}

                    <article class="register-page-button">
                        <button class="btn-register">Edit recipe</button>
                    </article>


                </form>

                <article class="register-page-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static "img/recipe.jpg" %}" alt="image">
                </article>
            </article>

        </section>
    </main>

{% endblock %}




{% load placeholders %}
